<ion-content>
  <ion-grid>
    <ion-card class="styling">
      <div class="motiviro-pic1">
        <img src="../../../assets/images/ROOM-DETAILS_01.png" />
        <div class="menuicon">
          <ion-buttons slot="start">
            <ion-menu-button> <img src="../../assets/images/(Group)2.png" width="40"></ion-menu-button>
          </ion-buttons>
        </div>
        <div class="bottom-center">
          <span>Standard Room 1 </span><br>
          size 200 sq ft
        </div>
        <div class="top-right">
          <img src="../../../assets/images/M SMALL.png" />
        </div>

      </div>
      <ion-item>
        <span class="font-style">DETAILS</span>
      </ion-item>
      <ion-item class="description">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ol>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
              </ol>
            </ion-col>
            <img src="../../../assets/images/(Line).png" class="line" />
            <ion-col col-6>
              <ol>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
                <li> 40" Flat Screen TV</li>
              </ol>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
  </ion-grid>
  <ion-grid class="top">
    <ion-row>
      <ion-col col-12>
        <ion-item class="input">
          <ion-input required type="text" placeholder="Full Name" class="input-text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item class="input">
          <ion-input required type="text" placeholder="CNIC NO." class="input-text"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item class="input">
          <ion-input required type="text" placeholder="Mobile No." class="input-text"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center [style.height]="'100%'">
      <ion-button outline="false" class="border2" large="true">Booking</ion-button>
    </ion-row>
    <ion-row *ngFor="let record of detail">
      {{record.property_img_cord}}
    </ion-row>
  </ion-grid>

</ion-content>