    @font-face {
    font-family: 'GothicMedium';
    src: url("../../assets/font/Gotham-Medium.ttf");
    }
    @font-face {
        font-family: 'GothicBold';
        src: url("../../assets/font/Gotham-Bold.ttf");
        }
    .font-style{
        font-family: 'GothicBold' !important;
        color:#26827e;
        font-size:20px;
    }
.menuicon{
    position: absolute;
    left: 10px;
    // bottom: 162px;
    top:30px;
    width:54px;
}
.styling{
    margin: 0 !important;
    border-radius: 0 !important;
}
.motiviro-pic1{
    // position: relative !important;
    width:100%;

}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    width:60px;
}
.bottom-center{
    position: absolute;
    // bottom: 40%;
    top:175px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white !important;
    text-align: center;
}
.description{
   --background: var(--ion-background-image,#26827e); 
   color:white;
}  
ol{
    padding : 0 20px;
}
li{
    font-family: 'GothicMedium' !important;
    font-size:10px !important;
}
.line{
    width: 1px;
    height: 100px;
}



/*==============input field==================*/
.top{
    margin-top:25px;
}
.input{
    --border-color:#26827e  !important;
    padding: 0px 40px;
    --border-width: 1px !important;
    --border-radius: 25px !important; 
    --min-height: 39px !important;
    
   
}   
.input-text{
    color:#26827e  !important;
    // font-size: 22px !important;
    font-family: 'GothicMedium' !important;
} 