
.top-left{
    position: absolute;
    right:0px;
    top:10px;
  }
  .text{
    top:20px;
   font-size:30px;
   font-weight: bold;
   color:#26827e !important;
  }
  .top{
    padding-top:100px !important;
  }
  .textside{
    background-color:#26827e !important;
    width:150px !important;
    height: 90px !important;
    font-size:12px;
    padding:15px;
    color:white !important;
  }
  .border1{
    // padding: 0px 10px;
      margin-top: 10px;
      --border-width: 2px !important;
      --border-color: white !important;
      font-size:10px;
  }
  .lock{
    position: absolute;
      margin: 15px 20px;
  }
  .listborder{
      --border-width: 0 0 0 0 !important;
  }