<ion-content>
  <div padding>
    <ion-header [style.display]="'inline'">
      <ion-buttons slot="start" padding>
        <ion-menu-button> <img src="../../assets/images/menugreen.png" width="40"></ion-menu-button>
        <img src="../../assets/images/mgreen.png" width="50" class="top-left" />
      </ion-buttons>
    </ion-header>
  </div>
  <ion-grid>
    <ion-row col-sm-12 justify-content-center>
      <ion-col col-sm-12 class="text" text-center>
        FLOOR - 1
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let record of floorfirst">

    </ion-row>
  </ion-grid>
  <ion-grid [style.margin-top]="'50px'" padding>


    <ion-list *ngFor="let record of floorfirst">
      <ion-item class="listborder">
        <span *ngIf=" record.property_image != null" [style.height]="'90px'">
          <img src="{{record.property_image}}" width="150" height="90">
        </span>
        <span *ngIf=" record.property_image == null" [style.height]="'90px'">
          <img src="../../assets/images/150by90.png" width="150" height="90">
        </span>

        <div class="textside">
          <b text-center> {{record.property_section}} </b><br>
          <span text-center> Size : {{record.property_area}} sq ft </span>
          <div *ngIf=" record.property_status == 2 || record.property_status == 4 ">
            <span text-center>
              <ion-button size="small" shape="round" class="border1">locked </ion-button>
            </span>
            <span class="lock">
              <img src="../../assets/images/lock.png" width="15" />
            </span>
          </div>
          <div *ngIf=" record.property_status == 1">
            <form (ngSubmit)="propertyDetail()">
              <span text-center>
                <ion-button justify-content-center small shape="round" class="border1">available</ion-button>
              </span>
            </form>
          </div>
          <div *ngIf=" record.property_status == 5">
            <span text-center>
              <ion-button justify-content-center small type="submit" shape="round" class="border1">Under Process</ion-button>
            </span>
          </div>


        </div>

      </ion-item>
    </ion-list>

  </ion-grid>


</ion-content>