<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content color="primary">

        <img src="../assets/images/M SMALL.png" width="60" [style.margin]="'0px 0 0 20px'" />
        <ion-grid>
          <ion-row justify-content-center align-items-center [style.height]="'100%'">
            <ion-avatar [ngStyle]="{width:'120px',height:'120px'}">
              <img src="../assets/images/4948899-profile-pictures.jpg" />
            </ion-avatar>
          </ion-row>
          <ion-row justify-content-center align-items-center padding>
            <b>FULLL NAME</b>
            <b>___________________</b>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row justify-content-center align-items-center [style.height]="'100%'">
            <ion-list no-lines [style.background]="'#26827e'">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" [style.color]="'#fff'" class="listborder">
                  <img src="./../assets/images/SETTINGS.png" width="40" [style.margin]="'10px'" />
                  <ion-label>
                    <b> {{p.title}} </b>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row justify-content-center align-items-center [style.height]="'100%'">
            <ion-button outline="false" class="border2" large="true">logout</ion-button>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>